@font-face {
  font-family: 'ManropeBold';
  src: local('ManropeBold'), url(./assets/fonts/ManropeBold.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'ManropeSemiBold';
  src: local('ManropeSemiBold'), url(./assets/fonts/ManropeSemiBold.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'ManropeMedium';
  src: local('ManropeMedium'), url(./assets/fonts/ManropeMedium.ttf) format('truetype');
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'ManropeMedium';
  box-sizing: border-box;
}

